@use "../../presets" as *;
@use "../../mixins" as *;
@use "../../common/classes" as *;

.form {
  background-color: $color-primary;
  padding: $gap-lg 0;

  &__container {
    display: grid;
    gap: $gap;
    @extend %container;

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-item:nth-of-type(1) {
    @include md-sm {
      grid-column: 1 / span 2;
    }
  }
}

.form-item__input {
  width: 100%;
  display: block;
  height: 60px;
  padding-right: $gap-lg;
  padding-left: $gap-lg;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 1.125rem;
  letter-spacing: 0.15em;
  line-height: 39px;
  color: $color-white;
  font-weight: 400;
  font-family: $font-main;

  &::placeholder {
    color: $color-gray;
  }
}

.form-item__input:hover,
.form-item__input:focus {
  border-bottom-color: $color-white;
  border-color: rgba($color-white, 0.15);
  background-color: rgba($color-white, 0.15);
  transition: 0.5s;
}

.form .btn--light {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  color: $color-white;
  letter-spacing: 0.1em;
  font-size: 1.125rem;
  font-family: $font-main;
  min-height: 60px;
}
.form .btn--light:hover,
.btn--light:focus {
  border-color: $color-white;
  transition: 0.5s;
  cursor: pointer;
}